/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
    background-color: #101010;
}
    *{
    background-color: #101010;
}
/* Colors for brand */
nav .navbar-brand .blue
{
    color: #45A29E;
}
nav .navbar-brand .red
{
    color: #C5C6C7;
}

.mb-3 {
    color: white;
}

.btn {
    color: white;
}