{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
<form action="/buy" method="post">
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="symbol" name="symbol" placeholder="Ticker" type="text">
    </div>
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="Shares" type="number">
    </div>
<p></p>

            <div class="mb-3">
            <p> Shares Purchased: &nbsp <strong> {{ sharespurchased }}</strong></p>
            <p> Cost: &nbsp <strong>{{ cost }}</strong></p>
            <p> Cash Remaining: &nbsp <strong>{{ remainder }}</strong></p>
            </div>
        <button class="btn btn-primary" type="submit">Buy</button>
</form>
{% endblock %}
